<style>
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 250px;
    overflow-y: auto;
}

input {
  max-width: 70%;
}
</style>

<h3><img src="<%= current_user.image %>" style="display:inline;max-width:50px;max-height:50px;"> <%= current_user.name %></h3>
Current Balance : <%= current_user.coins %></br>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Tansfer Coins</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Transfer Coins</h4>
      </div>
      <div class="modal-body">
        <form action="/transfer" method="post">
  	      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

          <div id="amount_div">
            <label for="amount">Amount</label>
            <input id="amount" name="amount" class="form-control" placeholder="0">
          </div>
          <label for="dest_name">Search</label>
          <input id="dest_name" onkeyup="search_user()" class="form-control" placeholder="Enter Name"><br/>
          <div id="dest_info_display"><b>Search Results</b><br/>
          </div>

          <input type="hidden" id="dest_email" name="email" class="form-control" placeholder="Enter email">

          </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Send</button>
      </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>

<!-- Transcation History -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">Tansaction histroy</button>

<!-- Modal -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Transfer Coins</h4>
      </div>
      <div class="modal-body">
        Current Balance: <%= current_user.coins %></br>
        <table class="table">
          <tr>
            <th>Timestamp</th>
            <th>Beneficiary</th>
            <th>Amount</th>
          </tr>
          <% @transcations.each do |transcation| %>
            <% if transcation[:in_out] == "in" %>
              <tr style="color: #558B2F;">
            <% else %>
              <tr style="color: #B71C1C;">
            <% end %>
              <td><%=transcation[:time_stamp]%></td>
              <td><%=transcation[:beneficiary]%></td>
              <td><%=transcation[:amount]%></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Refferal Code -->
<% if current_user.reffered_promo_code.nil? %>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3">Got a Refferal Code?</button>

<!-- Modal -->
<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Transfer Coins</h4>
      </div>
      <div class="modal-body">
        <form action="/refferal" method="post">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input name="refferal_code" class="form-control" placeholder="AVSKXXXX">
          <button type="submit" class="btn btn-primary">Use Refferal Code</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<% end %>
