
                      <!-- <img src="<%=asset_path('divyanshumehta.jpg')%>" class="rounded img-fluid z-depth-1-half" style="border: none!important;max-height: 200px!important;max-width: 200px!important;"> -->

<style>
  @media screen and (max-width:800px) {
     .person-col{
       min-width: 100%!important;
       margin-top: 1em;
    }
      .person-row{
        margin-left: 1em!important;
        margin-right: 1em!important;
      }
  }
  .card-wrapper .card-up img{
    min-width: 100%!important;
  }
</style>
<div class="container" style="margin-top: -2em;">
    <!--Section: Team v.4-->
    <section class="pb-5">

        <!--Section heading-->
        <h2 class="text-center h1 py-5">Our amazing team</h2>
        <div class="row person-row" align="center" style="margin: -3em 17em;">
            <!--Grid column-->
            <div class="col person-col">

                <!--Rotating card-->
                <div class="card-wrapper">
                    <div id="card-1" class="text-center w-100 h-100">

                        <!--Front Side-->
                        <div class="face front">

                            <!-- Image-->
                            <div class="card-up flex-center" style="">
                                <img src="<%=asset_path('divyanshumehta.jpg')%>" style="max-width:100%;max-height:100%!important">
                            </div>
                            <!--Content-->
                            <div class="card-body">
                                <h4 class="mt-1">Divyanshu Mehta</h4>
                                <p class="font-weight-bold grey-text">--Platform Dev--</p>
                                <!--Triggering button-->
                                <a href="https://www.facebook.com/divyanshu.mehta.97">
                                  <img src="<%= asset_path('facebook_blue.png')%>" style="max-width:30px;max-height:30px;">
                                </a>&nbsp&nbsp
                                <a href="https://www.github.com/divyanshumehta">
                                  <img src="<%= asset_path('github_blue.png')%>" style="max-width:30px;max-height:30px;">
                                </a>&nbsp&nbsp
                                <a href="https://www.instagram.com/divyanshumehta97/">
                                    <img src="<%= asset_path('instagram_blue.png')%>" style="max-width:30px;max-height:30px;">
                                </a>
                            </div>

                        </div>
                        <!--Front Side-->

                    </div>
                </div>
                <!--Rotating card-->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col person-col">

                <!--Rotating card-->
                <div class="card-wrapper">
                    <div id="card-1" class="text-center w-100 h-100">

                        <!--Front Side-->
                        <div class="face front">

                            <!-- Image-->
                            <div class="card-up flex-center" style="">
                                <img src="<%=asset_path('arnav-amb.jpeg')%>" style="max-width:100%;max-height:100%!important">
                            </div>
                            <!--Content-->
                            <div class="card-body">
                                <h4 class="mt-1">Arnav</h4>
                                <p class="font-weight-bold grey-text">--Design Dev--</p>
                                <!--Triggering button-->
                                <a href="https://www.facebook.com/arnav.grv">
                                  <img src="<%= asset_path('facebook_blue.png')%>" style="max-width:30px;max-height:30px;">
                                </a>&nbsp&nbsp
                                <a href="https://www.github.com/arnav-amb">
                                  <img src="<%= asset_path('github_blue.png')%>" style="max-width:30px;max-height:30px;">
                                </a>&nbsp&nbsp
                                <a href="https://www.instagram.com/amb_arnav/">
                                    <img src="<%= asset_path('instagram_blue.png')%>" style="max-width:30px;max-height:30px;">
                                </a>
                            </div>

                        </div>
                        <!--Front Side-->

                    </div>
                </div>
                <!--Rotating card-->

            </div>
            <!--Grid column-->
        </div>

    </section>
    <!--Section: Team v.4-->
</div>
